.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.coloryacu{
  color:green;
  text-align: center;
}
.mine{
  width:50%;
  height: 400px;
  margin-left: 400px;
  
}

.list{
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgb(238, 225, 238);
  color: black;
  word-spacing: 20px;
}
.content{
  display: flex;
}
.main{
  background-color: #81a7d3;
  
  margin-top: 50px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main{
  margin-left: 100px;
  margin-right: 100px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bgColor{
  background-image: url('image/agribusiness.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}